mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer 
            img(src=userLoggedIn.profilePic, alt="User's profile picture")
        .textareaContainer 
            textarea#postTextarea(placeholder="What's happening?")
            .buttonContainer 
                button#submitPostButton(disabled="") Post 

mixin createReplyModal(userLoggedIn)

    #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                // Modal Header
                .modal-header
                    h5#replayModalLabel.modal-title Reply
                    button.btn.btn-close(type='button', data-bs-dismiss='modal')
                    //- span(aria-hidden='true') &times;
                // Modal body
                .modal-body
                    #originalPostContainer
                    .postFormContainer 
                        .userImageContainer 
                            img(src=userLoggedIn.profilePic, alt="User's profile picture")
                        .textareaContainer 
                            textarea#replyTextarea(placeholder="What's happening?")
                // Modal footer
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button', disabled="") Reply

mixin createDeletePostModal()

    #deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                // Modal Header
                .modal-header
                    h5#deletePostModalLabel.modal-title Delete the post?
                    button.btn.btn-close(type='button', data-bs-dismiss='modal')
                    //- span(aria-hidden='true') &times;
                // Modal body
                .modal-body
                    p You won't be able to delete this.
                // Modal footer
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                    button#deletePostButton.btn.btn-primary(type='button') Delete

mixin createPostModals(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeletePostModal()

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Following" : "Follow"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass, data-user=user._id) #{text} 

mixin createTab(name, href, isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class = className)
        span #{name}
